*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --color-text: rgb(255, 255, 255);
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

/* colores */